@using ReviewApps.Modules.DevUser
@model ReviewApps.Models.POCO.IdentityCustomization.Feedback
@{
    string title = ViewBag.Title;
    var categories = (IEnumerable<SelectListItem>) ViewBag.FeedbackCateoryID;
    var controller = (string) ViewBag.controller;
    var url = AppVar.Url;
    var email = "info@" + url;
}

@Html.SamePageLinkWithIcon(title, title, "fa fa-weixin")
<h3 class="bg-deepskyblue f-em-d-95 label label-info">In case, if you want to report an app or review, please visit the specific and click on report.</h3>
<h6 class="f-em-d-9">If you have any questions about this Privacy Policy, the practices of this site, or your dealings with this site, please contact us.</h6>
<hr />
<!--ViewContext.RouteData.Values["Controller"].ToString()-->
@using (Html.BeginForm("ContactUs", "", FormMethod.Post, new {@class = "form-horizontal Create-@ViewBag.Title", role = "form"})) {
    <div class="form-horizontal">
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new {@class = "text-danger"})
        @Html.Partial("_SuccessMessage")
        @if (!Request.IsAuthenticated) {
            @Html.EditorFor(model => model.Name)
            @Html.EditorFor(model => model.Email, "EmailAddress")
        } else {
            var user = UserManager.GetCurrentUser();
            @Html.Hidden("Username", user.UserName)
            @Html.Hidden("Name", user.DisplayName)
            @Html.Hidden("Email", user.Email)
        }
        @Html.EditorFor(model => model.RateUrgency, "Rating-10")
        @Html.EditorFor(model => model.Subject)
        @*<div class="form-group">
                <div class="controls">
                    <label class="col-md-2 control-label">Category<span class="red ">*</span></label>
                    <div class="col-md-10">
                        @Html.DropDownListFor(m => m.FeedbackCategoryID, categories, new {@class = "form-control selectpicker"})
                        <a href="#" data-toggle="tooltip" data-original-title="Please select your category." title="Please select your category." class="tooltip-show">
                            <span class="description-icon"></span></a>
                    </div>
                </div>
            </div>*@
        @Html.EditorFor(model => model.FeedbackCategoryID, "DropDown", new {selectData = categories})


        @Html.EditorFor(model => model.Message, "Multiline")
    </div>
    <div class="form-group">
        <div class="col-md-10 col-md-offset-2">
            <button type="submit" class="btn btn-success">
                <i class="fa fa-paper-plane"></i>
                Send
            </button>
        </div>
    </div>
}
<div class="row">
    <div class="col-md-10 col-md-offset-2">
        We love to hear from you. Shoot an email to <a href="mailto:@email">@email</a> or knock as any time to our
        skype name Wereviewapp. Get social with us in Facebook, Twitter & Gplus
        <div class="label label-info">
            Facebook Link: <a href="//fb.com/wereviewapp">fb.com/wereviewapp</a>
        </div>
        <div class="label label-default">
            Twitter Link: <a href="//twitter.com/wereviewapp">twitter.com/wereviewapp</a>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.RenderFormat("<script type=\"text/javascript\" src=\"{0}\" defer='defer'></script>", "~/bundles/jqueryval")
}