@model object

@{
    var isRequired = ViewData.ModelMetadata.IsRequired;
    string isRequiredStar = isRequired ? "*" : "",
           prop = ViewData.ModelMetadata.PropertyName,
           propLower = prop.ToLower(),
           styleProperty = propLower,
           displayName = ViewData.ModelMetadata.DisplayName ?? ViewData.ModelMetadata.PropertyName,
           templateName = "dropdown",
           description = ViewData.ModelMetadata.Description;

    if (ViewBag.@class != null) {
        ViewBag.@class = "form-control " + ViewBag.@class;
    } else {
        ViewBag.@class = "form-control";
    }

    if (ViewBag.liveSearch == null) {
        ViewBag.liveSearch = "true";
    }

    if (ViewBag.style == null) {
        ViewBag.style = "btn-success";
    }
    if (ViewBag.isPicker == null) {
        ViewBag.isPicker = "true"; // true , false to make it selectpicker or not
        ViewBag.@class += " selectpicker";
    }

    if (ViewBag.id == null) {
        ViewBag.id = ViewData.ModelMetadata.PropertyName;
    }

    if (ViewBag.label != null) {
        displayName = ViewBag.label;
    }

    if (ViewBag.labelColumn == null) {
        ViewBag.labelColumn = "col-md-2";
    }
    if (ViewBag.textColumn == null) {
        ViewBag.textColumn = "col-md-10";
    }
    var selectListData = (IEnumerable<SelectListItem>) ViewBag.selectData;
}
<div class="form-group form-row @styleProperty @templateName-type" data-type="@templateName" data-prop="@styleProperty">
    <div class="controls dev-plugin">
        <label class="@ViewBag.labelColumn control-label form-label @styleProperty" for="@styleProperty" data-prop="@styleProperty">
            @displayName
            <span class="red">@isRequiredStar</span>
        </label>
        <div class="@ViewBag.textColumn select-holding-div non-dynamic-select">
            @Html.DropDownList("", selectListData, new {
                ViewBag.@class,
                data_style = ViewBag.style,
                data_live_search = ViewBag.liveSearch, ViewBag.id,
                data_prop = styleProperty,
                data_template = templateName
            })
            @if (description != null) {
                <a data-toggle="tooltip" data-original-title="@description" title="@description" class="tooltip-show">
                    <span class="description-icon"></span></a>
            }
        </div>
    </div>
</div>