@model string

@{
    var isRequired = ViewData.ModelMetadata.IsRequired;
    string isRequiredStar = isRequired ? "*" : "",
           prop = ViewData.ModelMetadata.PropertyName,
           propLower = prop.ToLower(),
           styleProperty = propLower,
           displayName = ViewData.ModelMetadata.DisplayName ?? ViewData.ModelMetadata.PropertyName,
           description = ViewData.ModelMetadata.Description,
           templateName = "multiline";
    var htmlAttributes = new RouteValueDictionary();
    if (displayName == null) {
        displayName = ViewData.ModelMetadata.PropertyName;
    }
    if (ViewBag.@class != null) {
        htmlAttributes.Add("class", "form-control multiline-text " + ViewBag.@class);
    } else {
        htmlAttributes.Add("class", "form-control multiline-text");
    }

    if (ViewBag.type != null) {
        htmlAttributes.Add("type", ViewBag.@type);
    }

    if (ViewBag.placeholder != null) {
        htmlAttributes.Add("placeholder", ViewBag.placeholder);
    } else {
        if (isRequired) {
            htmlAttributes.Add("placeholder", displayName + isRequiredStar);
        } else {
            htmlAttributes.Add("placeholder", "[" + displayName + "]");
        }
    }
    if (ViewBag.Value != null) {
        htmlAttributes.Add("Value", ViewBag.Value);
    }
    if (ViewBag.label != null) {
        displayName = ViewBag.label;
    }

    if (ViewBag.labelColumn == null) {
        ViewBag.labelColumn = "col-md-2";
    }
    if (ViewBag.textColumn == null) {
        ViewBag.textColumn = "col-md-10";
    }

    if (ViewBag.description != null) {
        ViewData.ModelMetadata.Description = ViewBag.description;
    }
    htmlAttributes.Add("title", htmlAttributes["placeholder"]);
    htmlAttributes.Add("data-prop", styleProperty);
    htmlAttributes.Add("data-template", templateName);
}
<div class="form-group form-row @styleProperty @templateName-type" data-type="@templateName" data-prop="@styleProperty">
    <div class="controls dev-plugin">
        <label class="@ViewBag.labelColumn control-label form-label @styleProperty" for="@styleProperty" data-prop="@styleProperty">
            @displayName
            @if (description != null) {
                <a data-toggle="tooltip" data-original-title="@description" title="@description" class="tooltip-show">
                    <span class="description-icon"></span>
                </a>
            }
            <span class="red"> @isRequiredStar</span>
        </label>
        <div class="@ViewBag.textColumn form-input @styleProperty" data-prop="@styleProperty">
            @Html.TextArea("", htmlAttributes)
            @Html.ValidationMessageFor(m => m, null, new {@class = "table invalid-input"})
        </div>
    </div>
</div>