@model byte?
@{
    var isRequired = ViewData.ModelMetadata.IsRequired;
    string isRequiredStar = isRequired ? "*" : "",
           prop = ViewData.ModelMetadata.PropertyName,
           propLower = prop.ToLower(),
           styleProperty = propLower,
           displayName = ViewData.ModelMetadata.DisplayName ?? ViewData.ModelMetadata.PropertyName,
           templateName = "rating-10-b",
           description = ViewData.ModelMetadata.Description;
    var htmlAttributes = new RouteValueDictionary();
    if (displayName == null) {
        displayName = ViewData.ModelMetadata.PropertyName;
    }
    if (ViewBag.@class != null) {
        htmlAttributes.Add("class", "form-control " + ViewBag.@class);
    } else {
        htmlAttributes.Add("class", "form-control rating-10 common-rating");
    }

    if (ViewBag.@type != null) {
        htmlAttributes.Add("type", ViewBag.@type);
    } else {
        htmlAttributes.Add("type", "number");
    }

    if (ViewBag.placeholder != null) {
        htmlAttributes.Add("placeholder", ViewBag.placeholder);
    } else {
        if (isRequired) {
            htmlAttributes.Add("placeholder", displayName + isRequiredStar);
        } else {
            htmlAttributes.Add("placeholder", "[" + displayName + "]");
        }
    }

    if (ViewBag.stars == null) {
        ViewBag.stars = 10;
    }

    if (ViewBag.min == null) {
        ViewBag.min = 0;
    }

    if (ViewBag.max == null) {
        ViewBag.max = 10;
    }

    if (ViewBag.step == null) {
        ViewBag.step = .5;
    }
    if (ViewBag.label != null) {
        displayName = ViewBag.label;
    }

    if (ViewBag.labelColumn == null) {
        ViewBag.labelColumn = "col-md-2";
    }
    if (ViewBag.textColumn == null) {
        ViewBag.textColumn = "col-md-10";
    }
    htmlAttributes.Add("title", htmlAttributes["placeholder"]);
    htmlAttributes.Add("min", ViewBag.min);
    htmlAttributes.Add("max", ViewBag.max);
    htmlAttributes.Add("data-size", "xs");
    htmlAttributes.Add("data-stars", ViewBag.stars);
    htmlAttributes.Add("data-step", ViewBag.step);

    htmlAttributes.Add("data-prop", styleProperty);
    htmlAttributes.Add("data-template", templateName);
}
<div class="form-group form-row @styleProperty @templateName-type" data-type="@templateName" data-prop="@styleProperty">
    <div class="controls dev-plugin">
        <label class="@ViewBag.labelColumn control-label" for="@styleProperty">
            @displayName
            @if (description != null) {
                <a data-toggle="tooltip" data-original-title="@description" title="@description" class="tooltip-show">
                    <span class="almost-white fa fa-question font-size-22 glyphicon-top-fix"></span></a>
            }
            <span class="red">@isRequiredStar</span>
        </label>
        <div class="@ViewBag.textColumn form-input @styleProperty" data-prop="@styleProperty">
            @Html.TextBox("", ViewData.TemplateInfo.FormattedModelValue, htmlAttributes)
            @Html.ValidationMessageFor(m => m, null, new {@class = "invalid-input"})
        </div>
    </div>
</div>