@model object

@{
    var isRequired = ViewData.ModelMetadata.IsRequired;
    var isRequiredStar = isRequired ? "*" : "";
    var htmlAttributes = new RouteValueDictionary();
    if (@ViewData.ModelMetadata.DisplayName == null) {
        ViewData.ModelMetadata.DisplayName = ViewData.ModelMetadata.PropertyName;
    }
    if (ViewBag.@class != null) {
        htmlAttributes.Add("class", "form-control " + ViewBag.@class);
    } else {
        htmlAttributes.Add("class", "form-control");
    }

    if (ViewBag.@type != null) {
        htmlAttributes.Add("type", ViewBag.@type);
    }

    if (ViewBag.placeholder != null) {
        htmlAttributes.Add("placeholder", ViewBag.placeholder);
    } else {
        if (isRequired) {
            htmlAttributes.Add("placeholder", @ViewData.ModelMetadata.DisplayName + isRequiredStar);
        } else {
            htmlAttributes.Add("placeholder", "[" + @ViewData.ModelMetadata.DisplayName + "]");
        }
    }
    if (ViewBag.Value != null) {
        htmlAttributes.Add("Value", ViewBag.Value);
    }
    htmlAttributes.Add("title", @htmlAttributes["placeholder"]);
}

<div class="form-group form-row-@ViewData.ModelMetadata.PropertyName">
    <div class="controls custom-string">
        <div class="col-md-12 form-input-@ViewData.ModelMetadata.PropertyName">
            @Html.TextBox("", ViewData.TemplateInfo.FormattedModelValue, htmlAttributes)
            @if (@ViewData.ModelMetadata.Description != null) {
                <a data-toggle="tooltip" data-original-title="@ViewData.ModelMetadata.Description" title="@ViewData.ModelMetadata.Description" class="tooltip-show">
                    <span class="description-icon"></span></a>
            }
            <a data-toggle="tooltip" title="Validating" data-original-title="Validating" class="tooltip-show CustomValidation @ViewData.ModelMetadata.PropertyName no-hover">
                <span data-display="@ViewData.ModelMetadata.DisplayName" class="CustomValidation @ViewData.ModelMetadata.PropertyName glyphicon glyphicon-refresh glyphicon-spin hide" title="Validating"></span>
            </a>
            @Html.ValidationMessageFor(m => m, null, new {@class = "rounded-3 label label-danger fixed-width-294 validation-box"})
        </div>
    </div>
</div>