@model object

@{
    var isRequired = ViewData.ModelMetadata.IsRequired;
    var isRequiredStar = isRequired ? "*" : "";
    var htmlAttributes = new RouteValueDictionary();
    if (@ViewData.ModelMetadata.DisplayName == null) {
        ViewData.ModelMetadata.DisplayName = ViewData.ModelMetadata.PropertyName;
    }

    if (ViewBag.data_id != null) {
        ViewBag.data_id_val = ViewBag.data_id;
        ViewBag.data_id = "data-id=" + ViewBag.data_id;
    } else {
        ViewBag.data_id = "data-id=0";
        ViewBag.data_id_val = 0;
    }

    if (ViewBag.data_url != null) {
        ViewBag.data_url = "data-url=" + ViewBag.data_url;
    }
    if (ViewBag.single != null) {
        ViewBag.single = "";
    } else {
        ViewBag.single = "multiple";
    }
    htmlAttributes.Add("title", @htmlAttributes["placeholder"]);
    if (ViewBag.autoupload != null) {
        ViewBag.autoupload = "data-autoupload=" + false + "";
    } else {
        ViewBag.autoupload = "data-autoupload=" + true + "";
    }
}

<div class="form-group form-row-@ViewData.ModelMetadata.PropertyName">
    <div class="controls custom-string">
        <label class="col-md-2 upload-label control-label form-label-@ViewData.ModelMetadata.PropertyName" for="@ViewData.ModelMetadata.PropertyName">
            @ViewData.ModelMetadata.DisplayName<span class="red">@isRequiredStar</span></label>
        <div class="col-md-10 form-input-@ViewData.ModelMetadata.PropertyName">
            <div class="uploader-auto uploader-@ViewBag.data_id_val">
                <h1 class="error-warning-label-@ViewBag.data_id_val error-warning-labels h4 red">Failed to upload:</h1>
                <div class="error-warning-label-@ViewBag.data_id_val error-warning-labels">Feel free to @Html.ContactFormActionLink("contact us", "contact us") any moment.</div>
                <ul class="files-list-@ViewBag.data_id_val upload-error-list"></ul>
                <span class="btn btn-success fileinput-button">
                    <i class="glyphicon glyphicon-upload"></i>
                    <span title="@ViewData.ModelMetadata.DisplayName Upload files">Upload Files...</span>
                    <!-- The file input field used as target for the file upload widget -->
                    <input class="dev-fileupload" @ViewBag.data_id type="file" @ViewBag.data_url name="@ViewData.ModelMetadata.PropertyName" title="@ViewData.ModelMetadata.Description" @ViewBag.autoupload @ViewBag.single>
                    <label class="label label-success file-uploaded-notify-label-@ViewBag.data_id_val" data-loaded="0"></label>
                    
                </span>
                @if (@ViewData.ModelMetadata.Description != null) {
                    <a data-toggle="tooltip" data-original-title="@ViewData.ModelMetadata.Description" title="@ViewData.ModelMetadata.Description" class="tooltip-show">
                        <span class="description-icon"></span></a>
                }
                <a data-toggle="tooltip" title="Validating" data-original-title="Validating" class="tooltip-show CustomValidation @ViewData.ModelMetadata.PropertyName no-hover">
                    <span data-display="@ViewData.ModelMetadata.DisplayName" class="CustomValidation @ViewData.ModelMetadata.PropertyName glyphicon glyphicon-refresh glyphicon-spin hide" title="Validating"></span>
                </a>
                <br>
                <div class="files-display-@ViewBag.data_id_val"></div>
                <!-- The global progress bar -->
                <div class="progress-@ViewBag.data_id_val progress">
                </div>
                <label class="label label-success progress-label-value-@ViewBag.data_id_val"></label>
            </div>
            @Html.ValidationMessageFor(m => m, null, new {@class = "rounded-3 label label-danger fixed-width-294 validation-box"})
        </div>
    </div>
</div>