@model ImageResizeSetting

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h1 class="h4">ImageResizeSetting</h1>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Height)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Height)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Width)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Width)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Extension)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Extension)
        </dd>

    </dl>
</div>
<p>
    <div class="form-group">
        <div class="col-md-10 col-md-offset-2">
            <a href="@Html.Action("Edit")" title="Edit - @ViewBag.Title" class="btn btn-success"><span class="glyphicon glyphicon-edit"></span> Edit</a>
            <a href="@Html.Action("Index")" title="Back" class="btn btn-info"><span class="glyphicon glyphicon-chevron-left"></span> Back</a>
        </div>
    </div>
</p>