@model ImageResizeSetting

@{
    ViewBag.Title = "Editing Image Resize Setting";
    string title = ViewBag.Title;
    string subtitle = ViewBag.Title;
    var token = Html.AntiForgeryToken();
}
@Html.SamePageLinkWithIcon(title, subtitle, "fa fa-edit")

<hr />
@using (Html.BeginForm("Edit", ViewContext.RouteData.Values["Controller"].ToString(), FormMethod.Post, new {@class = "form-horizontal Create-@ViewBag.Title", role = "form"})) {
    <div class="form-horizontal">
        @token
        <div class="form-group">
            <div class="col-md-10 col-md-offset-2">
                <div class="btn-group">
                    <a href="@Url.Action("Index")" title="Back" class="btn btn-info"><span class="glyphicon glyphicon-chevron-left"></span> Back</a>
                    <a href="@Url.Action("Delete", new {id = Model.ImageResizeSettingID})" title="Delete this record?" class="btn btn-danger" onclick="return confirm('Are you sure?')"><span class="glyphicon glyphicon-remove"></span> Delete</a>
                    <div class="inline input-group-btn">
                        <button title="Save and create new one" class="btn btn-success"><i class="glyphicon glyphicon-floppy-disk"></i> Save</button>
                    </div>
                </div>
            </div>
        </div>

        @Html.ValidationSummary(true, "", new {@class = "text-danger"})
        @Html.HiddenFor(model => model.ImageResizeSettingID)
        @Html.EditorFor(model => model.Name)
        @Html.EditorFor(model => model.Height)
        @Html.EditorFor(model => model.Width)
        @Html.EditorFor(model => model.Extension)
        <div class="form-group">
            <div class="col-md-10 col-md-offset-2">
                <div class="btn-group">
                    <a href="@Url.Action("Index")" title="Back" class="btn btn-info"><span class="glyphicon glyphicon-chevron-left"></span> Back</a>
                    <a href="@Url.Action("Delete", new {id = Model.ImageResizeSettingID})" title="Delete this record?" class="btn btn-danger" onclick="return confirm('Are you sure?')"><span class="glyphicon glyphicon-remove"></span> Delete</a>
                    <div class="inline input-group-btn">
                        <button title="Save and create new one" class="btn btn-success"><i class="glyphicon glyphicon-floppy-disk"></i> Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@Html.Partial("_ValidatorCommonForm", new ViewDataDictionary {
    {"token", token}
})

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}