@{
    var currentPageStaticUrl = Html.GetCurrentUrlWithHostName();
}
<div class="seo-hide">
    <a href="@currentPageStaticUrl" class="seo-app-name" title="@currentPageStaticUrl : App Reviews website.">
        <h1 title="@currentPageStaticUrl : App Reviews website.">
            <strong title="@currentPageStaticUrl : App Reviews website.">
                <em title="@currentPageStaticUrl : App Reviews website.">We</em>
            </strong><strong title="@currentPageStaticUrl : App Reviews website.">
                <em title="@currentPageStaticUrl : App Reviews website.">Review</em>
            </strong><strong title="@currentPageStaticUrl : App Reviews website.">
                <em title="@currentPageStaticUrl : App Reviews website.">App</em>
            </strong><strong title="@currentPageStaticUrl : App Reviews website.">
                <em title="@currentPageStaticUrl : App Reviews website.">.com</em>
            </strong>
        </h1>
    </a>
    is great
    <a href="@currentPageStaticUrl" class="seo-app-name" title="@currentPageStaticUrl : App Reviews website.">
        <h1 title="@currentPageStaticUrl : App Reviews website.">
            <strong title="@currentPageStaticUrl : App Reviews website.">
                <em title="@currentPageStaticUrl : App Reviews website.">web</em>
            </strong><strong title="@currentPageStaticUrl : App Reviews website.">
                <em title="@currentPageStaticUrl : App Reviews website.">site</em>
            </strong>
            @currentPageStaticUrl
        </h1>
    </a> for both developers and users who use
    <a href="@currentPageStaticUrl" class="seo-app-name" title="mobile Apps users">
        <h1 title="mobile Apps users">
            <strong title="mobile Apps users">
                <em title="mobile Apps users">mobile</em>
            </strong>
            <strong title="mobile Apps users">
                <em title="mobile Apps users">apps</em>
            </strong>
            <strong title="mobile Apps users">
                <em title="mobile Apps users">users</em>
            </strong>
        </h1>
    </a>
    Collection of <a href="@Html.GetCurrentUrlString()" title="">
        <h1>
            <strong>
                <em>reviews : @currentPageStaticUrl</em>
            </strong>
        </h1>
    </a>
</div>