@using ReviewApps.Models.EntityModel.ExtenededWithCustomMethods
@model ReviewApps.Models.EntityModel.Category
@{
    ViewBag.Title = "Mobile App Category : " + Model.CategoryName;
    var currentPageStaticUrl = AppVar.Url + Html.GetCurrentUrlString();
}
<div class="app-details-page category-listing-page category-page search-page">
    <div class="row">
        <div class="app-detail app-title-wrapper col-md-12" title="Mobile Apps Categories">
            <div class="app-title-row float-left">
                <a href="@currentPageStaticUrl" class="app-title" title="@Model.CategoryName Mobile apps category">
                    <h1 title="Mobile Apps Categories">
                        <strong title="Mobile Apps Categories">
                            <em title="@Model.CategoryName">@Model.CategoryName</em>
                        </strong>
                    </h1>
                </a>
                <a class="app-category" href="@currentPageStaticUrl">
                    <h2 class="category" title="Mobile Apps Categories">
                        <strong class="search-quote" title="@Model.CategoryName Mobile Apps">
                            Mobile Apps
                        </strong>
                    </h2>
                </a>
            </div>
        </div>
    </div>
    <div class="bottom-gap category-listing-displays-with-apps-container">
        @{ var appNonExistClass = Model.Apps == null || Model.Apps.Count == 0 ? "seo-hide" : ""; }
        <div class="row no-margin @appNonExistClass">
            <div class="app-detail app-title-wrapper category-title col-md-12" title="Mobile App Categories">
                <div class="app-title-row float-left">
                    <a href="@currentPageStaticUrl/@Model.CategoryName" title="@Model.CategoryName category mobile apps" class="app-title">
                        <h1 title="@Model.CategoryName">
                            <strong title="@Model.CategoryName category mobile apps">
                                <em title="@Model.CategoryName category mobile apps">@Model.CategoryName</em>
                            </strong>
                        </h1>
                        <h2 class="app-category" title="(Latest Apps)">
                            <strong class="search-quote" title="@Model.CategoryName Categories latest apps">
                                (Latest Apps)
                            </strong>
                        </h2>
                    </a>
                </div>
            </div>
        </div>
        <div class="row no-margin @appNonExistClass">
            <div class="archive-app-collection-wrapper">
                <ul class="archive-app-collection-list category-listing-page-apps-list pagination-required regular-color seo-optimize">
                    @if (appNonExistClass == "") {
                        foreach (var app in Model.Apps) {
                            var platform = app.GetPlatform();
                            <li class="slim-app-view" data-app-type="@platform.Icon">
                                <a class="app-url" href="@app.GetAbsoluteUrl()" title="App Review : @app.AppName">
                                    <div class="app-icon">
                                        <img src="@app.SearchIconLocation" alt="app" />
                                    </div>
                                    <div class="app-content">
                                        <h1 class="app-title" title="App Review : @app.AppName">
                                            <i class="fa @platform.Icon"></i>
                                            @app.AppName
                                            <span class="paragraph-end"></span>
                                        </h1>
                                        <h3>
                                            @app.User.UserName
                                            <span class="paragraph-end"></span>
                                        </h3>
                                        <span class="rating">
                                            <i class="fa fa-star"></i>
                                            @app.AvgRating/5 from @app.ReviewsCount users
                                        </span>
                                    </div>
                                    <div class="seo-hide">
                                        <em title="@platform.PlatformName Mobiles App">@platform.PlatformName App</em>
                                        <em title="@app.AppName mobile app">@app.AppName App</em>
                                        <em title="@app.AppName mobile app category is @Model.CategoryName"><strong title="@app.AppName">@app.AppName</strong> mobile app category is <strong title="@Model.CategoryName">@Model.CategoryName</strong></em>
                                    </div>
                                </a>
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
        <div class="clear"></div>
        <div class="pagination-wrapper text-center">
            <ul class="pagination">
                @ViewBag.paginationHtml
            </ul>
        </div>
    </div>
</div>
<div class="seo-hide">
    <a href="@currentPageStaticUrl" class="seo-app-name" title="WeReviewApp.com : App Reviews website.">
        <h1 title="WeReviewApp.com : App Reviews website.">
            <strong title="WeReviewApp.com : App Reviews website.">
                <em title="WeReviewApp.com : App Reviews website.">We</em>
            </strong><strong title="WeReviewApp.com : App Reviews website.">
                <em title="WeReviewApp.com : App Reviews website.">Review</em>
            </strong><strong title="WeReviewApp.com : App Reviews website.">
                <em title="WeReviewApp.com : App Reviews website.">App</em>
            </strong><strong title="WeReviewApp.com : App Reviews website.">
                <em title="WeReviewApp.com : App Reviews website.">.com</em>
            </strong>
        </h1>
    </a>
    is great
    <a href="@currentPageStaticUrl" class="seo-app-name" title="WeReviewApp.com : App Reviews website.">
        <h1 title="WeReviewApp.com : App Reviews website.">
            <strong title="WeReviewApp.com : App Reviews website.">
                <em title="WeReviewApp.com : App Reviews website.">web</em>
            </strong><strong title="WeReviewApp.com : App Reviews website.">
                <em title="WeReviewApp.com : App Reviews website.">site</em>
            </strong>
            @currentPageStaticUrl
        </h1>
    </a> for both developers and users who use
    <a href="@currentPageStaticUrl" class="seo-app-name" title="mobile Apps users">
        <h1 title="mobile Apps users">
            <strong title="mobile Apps users">
                <em title="mobile Apps users">mobile</em>
            </strong>
            <strong title="mobile Apps users">
                <em title="mobile Apps users">apps</em>
            </strong>
            <strong title="mobile Apps users">
                <em title="mobile Apps users">users</em>
            </strong>
        </h1>
    </a>
    Collection of <a href="@Html.GetCurrentUrlString()" title="">
        <h1>
            <strong>
                <em>reviews : @currentPageStaticUrl</em>
            </strong>
        </h1>
    </a>
</div>