@model NavigationItem

@{
    ViewBag.Title = "Adding for menu '" + ViewBag.MenuName + "'";
    string title = ViewBag.Title;
    string subtitle = ViewBag.Title;
    var token = Html.AntiForgeryToken();
}


@Html.SamePageLinkWithIcon(title, subtitle, FaIcons.Plus)
<hr />
@using (Html.BeginForm("Add", ViewContext.RouteData.Values["Controller"].ToString(), FormMethod.Post, new {@class = "form-horizontal Create-@ViewBag.Title", role = "form"})) {
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-10 col-md-offset-2">
                <div class="btn-group">
                    <a href="@Url.Action("List", new {id = ViewBag.NavigationID})" title="List" class="btn btn-info"><span class="glyphicon glyphicon-th-list"></span> List</a>
                    <div class="inline input-group-btn">
                        <button title="Save and create new one" class="btn btn-success"><i class="glyphicon glyphicon-floppy-disk"></i> Add</button>
                    </div>
                </div>
            </div>
        </div>

        @Html.Partial("_CreateOrEdit")
        <div class="form-group">
            <div class="col-md-10 col-md-offset-2">
                <div class="btn-group">
                    <a href="@Url.Action("List", new {id = ViewBag.NavigationID})" title="List" class="btn btn-info"><span class="glyphicon glyphicon-th-list"></span> List</a>
                    <div class="inline input-group-btn">
                        <button title="Save and create new one" class="btn btn-success"><i class="glyphicon glyphicon-floppy-disk"></i> Add</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}