@model NavigationItem

@{
    ViewBag.Title = "Editing for menu '" + ViewBag.MenuName + "'";
    string title = ViewBag.Title;
    string subtitle = ViewBag.Title;
    var token = Html.AntiForgeryToken();
}
@Html.SamePageLinkWithIcon(title, subtitle, "fa fa-edit")

<hr />
@using (Html.BeginForm("Edit", ViewContext.RouteData.Values["Controller"].ToString(), FormMethod.Post, new {@class = "form-horizontal Create-@ViewBag.Title", role = "form"})) {
    <div class="form-horizontal">
        @token
        <div class="form-group">
            <div class="col-md-10 col-md-offset-2">
                <div class="btn-group">
                    <a href="@Url.Action("List", new {id = Model.NavigationID})" title="List" class="btn btn-info"><span class="glyphicon glyphicon-th-list"></span> List</a>
                    <a href="@Url.Action("Delete", new {id = Model.NavigationItemID, Model.NavigationID})" title="Delete this record?" class="btn btn-danger" onclick="return confirm('Are you sure?')"><span class="glyphicon glyphicon-remove"></span> Delete</a>
                    <div class="inline input-group-btn">
                        <button title="Save and create new one" class="btn btn-success"><i class="glyphicon glyphicon-floppy-disk"></i> Save</button>
                    </div>
                </div>
            </div>
        </div>

        @Html.Partial("_CreateOrEdit")


        <div class="form-group">
            <div class="col-md-10 col-md-offset-2">
                <div class="btn-group">
                    <a href="@Url.Action("List", new {id = Model.NavigationID})" title="List" class="btn btn-info"><span class="glyphicon glyphicon-th-list"></span> List</a>
                    <a href="@Url.Action("Delete", new {id = Model.NavigationItemID, Model.NavigationID})" title="Delete this record?" class="btn btn-danger" onclick="return confirm('Are you sure?')"><span class="glyphicon glyphicon-remove"></span> Delete</a>
                    <div class="inline input-group-btn">
                        <button title="Save and create new one" class="btn btn-success"><i class="glyphicon glyphicon-floppy-disk"></i> Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}