@model IEnumerable<NavigationItem>
@{
    ViewBag.Title = "Navigation : " + ViewBag.MenuName;
    string title = ViewBag.Title;
    string subtitle = ViewBag.Title;
}
@Html.SamePageLinkWithIcon(title, subtitle, FaIcons.Sitemap)
<div id="navitems-controller" data-action="list">
    @section hidden{
        @Html.GenerateUrlHiddenInputs(false, actionNames: new[] {"SaveOrder"})
    }
    <p class="right">
        <a href="@Url.Action("Add", new {id = ViewBag.NavigationID})" title="Create a new item." class="btn btn-warning create-save"><span class="glyphicon glyphicon-plus"></span> Create</a>
        <a id="save-order-btn" href="@Url.Action("SaveOrder", new {id = ViewBag.NavigationID})" title="Save the menu items order" class="btn btn-success create-save"><span class="fa fa-floppy-o"></span> Save Order</a>
        <a href="@Url.Action("Index", "Menu")" title="Root menu page" class="btn btn-info create-save"><span class="glyphicon glyphicon-th-list"></span> Menu</a>
    </p>
    <table class="bootstrap-table-do table table-hover">
        <thead>
        <tr>
            <th>
                Menu
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RelativeURL)
            </th>
            <th>
                Order
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ElementClasses)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ElementID)
            </th>
            <th>
                Has Drop-Down
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @ViewBag.MenuName
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RelativeURL)
                </td>
                <td>
                    <form id="form-id-@item.NavigationItemID" method="post" class="process-ordering-in-menu-items">
                        @Html.HiddenFor(n => item.NavigationID, new {@Name = "NavigationID"})
                        @Html.HiddenFor(n => item.NavigationItemID, new {@Name = "NavigationItemID"})
                        @Html.TextBoxFor(n => item.Ordering, new {@Name = "Ordering", @class = "form-control ordering-textbox", id = "navid-" + item.NavigationItemID, data_id = item.NavigationItemID})
                    </form>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ElementClasses)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ElementID)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.HasDropDown)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new {id = item.NavigationItemID, item.NavigationID}) |
                    @Html.ActionLink("Delete", "Delete", new {id = item.NavigationItemID, item.NavigationID}, new {onclick = "return confirm('Are you sure?')"})
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}