@model CoreSetting
@{
    string tab = ViewBag.tab;
}
<div class="fade in tab-pane" id="WeReview-tab">
    @ViewBag.backBtn
    @ViewBag.stateMessage
    @Html.Hidden("tab", tab)
    @Html.EditorFor(model => model.GalleryMaxPictures)
    @Html.EditorFor(model => model.MaxDraftPostByUsers)
    @Html.EditorFor(model => model.PageItems, "long")
    @ViewBag.backBtn
</div>