@{
    var title = "Clean System";
    ViewBag.Title = title;
}

@Html.SamePageLinkWithIcon(title, title, "fa fa-recycle")

@if (ViewBag.message == null) {
    <div class="row">
        <q>Do you want to remove everything and start everything from begining? </q>
        <div class="top-gap"></div>
        <label class="f-em-11 label label-danger">
            <i class="fa fa-flag"></i>
            Warning every record and user will be removed and you will be back to the initial state of the application.
        </label>
        <div class="top-gap"></div>

        <blockquote>Please write "Clean" in order to remove everything from syste.</blockquote>

        @using (Html.BeginForm()) {
            @Html.Editor("clean", "String", new {@placeholder = "Write 'Clean' to remove everything from the system."})
            @Html.AntiForgeryToken()
            @Html.SubmitButton(iconClass: "fa fa-recycle")
        }
    </div>
} else {
    <div class="row">
        @ViewBag.message
    </div>
}