@using ReviewApps.Models.EntityModel.ExtenededWithCustomMethods
@model List<ReviewApps.Models.EntityModel.Platform>
@{
    ViewBag.Title = "Mobile App Platforms / Platform : Android, Apple, Windows, FireFox Os";
    var allPlatformsString = "Android, Apple, Windows, FireFox OS";
    var currentPageStaticUrl = AppVar.Url + Html.GetCurrentUrlString();
    var titlesSubtitle = "Mobile Platform : " + allPlatformsString;
}
<div class="app-details-page category-listing-page category-page search-page">
    <div class="row">
        <div class="app-detail app-title-wrapper col-md-12" title="@titlesSubtitle">
            <div class="app-title-row float-left" title="@titlesSubtitle">
                <a href="@currentPageStaticUrl" class="app-title" title="@titlesSubtitle">
                    <h1 title="@titlesSubtitle">
                        <strong title="@titlesSubtitle">
                            <em title="@titlesSubtitle">Mobile Apps</em>
                            <em class="seo-hide">@titlesSubtitle</em>
                        </strong>
                    </h1>
                </a>
                <a class="app-category" href="@currentPageStaticUrl" title="@titlesSubtitle">
                    <h2 class="category" title="@titlesSubtitle">
                        <strong class="search-quote" title="@titlesSubtitle">
                            Platforms<em class="seo-hide">@titlesSubtitle</em>
                        </strong>
                    </h2>
                </a>
            </div>
        </div>
    </div>
    <div class="bottom-gap category-listing-displays-with-apps-container">
        @foreach (var platform in Model) {
            var appNonExistClass = platform.Apps == null || platform.Apps.Count == 0 ? "seo-hide" : "";
            <div class="row no-margin @appNonExistClass">
                <div class="app-detail app-title-wrapper category-title col-md-12" title="Mobile App Categories">
                    <div class="app-title-row float-left">
                        <a href="@currentPageStaticUrl/@platform.PlatformName" title="@platform.PlatformName apps" class="app-title">
                            <h1 title="@platform.PlatformName">
                                <strong title="@platform.PlatformName category mobile apps">
                                    <em title="@platform.PlatformName category mobile apps">@platform.PlatformName</em>
                                </strong>
                            </h1>
                            <h2 class="app-category" title="(Latest Apps)">
                                <strong class="search-quote" title="@platform.PlatformName Categories latest apps">
                                    (Latest Apps)
                                </strong>
                            </h2>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row no-margin @appNonExistClass">
                <div class="archive-app-collection-wrapper">
                    <ul class="archive-app-collection-list category-listing-page-apps-list pagination-required regular-color seo-optimize">
                        @if (appNonExistClass == "") {
                            foreach (var app in platform.Apps) {
                                <li class="slim-app-view" data-app-type="@platform.Icon">
                                    <a class="app-url" href="@app.GetAbsoluteUrl()" title="App Review : @app.AppName">
                                        <div class="app-icon">
                                            <img src="@app.SearchIconLocation" alt="app" />
                                        </div>
                                        <div class="app-content">
                                            <h1 class="app-title" title="App Review : @app.AppName">
                                                <i class="fa @platform.Icon"></i>
                                                @app.AppName
                                                <span class="paragraph-end"></span>
                                            </h1>
                                            <h3>
                                                @app.User.UserName
                                                <span class="paragraph-end"></span>
                                            </h3>
                                            <span class="rating">
                                                <i class="fa fa-star"></i>
                                                @app.AvgRating/5 from @app.ReviewsCount users
                                            </span>
                                        </div>
                                        <div class="seo-hide">
                                            <em title="@platform.PlatformName Mobiles App">@platform.PlatformName App</em>
                                            <em title="@app.AppName">@app.AppName</em>
                                        </div>
                                    </a>
                                </li>
                            }
                        }
                    </ul>
                    <div class="regular-show-more-btn">
                        <a href="@currentPageStaticUrl/@platform.PlatformName" title="@platform.PlatformName apps" class="btn more-btn pull-right white">
                            <i class="fa @platform.Icon"></i>
                            @platform.PlatformName : See More
                        </a>
                    </div>
                </div>
            </div>
        }

    </div>
</div>

