@using ReviewApps.Models.EntityModel.ExtenededWithCustomMethods
@model ReviewApps.Models.EntityModel.Platform
@{
    ViewBag.Title = Model.PlatformName + " Mobile Apps";
    var currentPageStaticUrl = AppVar.Url + Html.GetCurrentUrlString();
    string titlesSubtitle = ViewBag.Title;
    var paginationHtml = new MvcHtmlString(ViewBag.paginationHtml);
}
<div class="app-details-page category-listing-page category-page search-page">
    <div class="row">
        <div class="app-detail app-title-wrapper col-md-12" title="@titlesSubtitle">
            <div class="app-title-row float-left" title="@titlesSubtitle">
                <a href="@currentPageStaticUrl" class="app-title" title="@titlesSubtitle">
                    <h1 title="@titlesSubtitle">
                        <strong title="@titlesSubtitle">
                            <em title="@titlesSubtitle">@Model.PlatformName Mobile Apps</em>
                            <em class="seo-hide">@titlesSubtitle</em>
                        </strong>
                    </h1>
                </a>
                <a class="app-category" href="@currentPageStaticUrl" title="@titlesSubtitle">
                    <h2 class="category" title="@titlesSubtitle">
                        <strong class="search-quote" title="@titlesSubtitle">
                            @Model.PlatformName <em class="seo-hide">@Model.PlatformName</em>
                        </strong>
                    </h2>
                </a>
            </div>
        </div>
    </div>
    <div class="bottom-gap category-listing-displays-with-apps-container">
        @{ var appNonExistClass = Model.Apps == null || Model.Apps.Count == 0 ? "seo-hide" : ""; }
        <div class="row no-margin @appNonExistClass">
            <div class="app-detail app-title-wrapper category-title col-md-12" title="Mobile App Categories">
                <div class="app-title-row float-left">
                    <a href="@currentPageStaticUrl/@Model.PlatformName" title="@Model.PlatformName category mobile apps" class="app-title">
                        <h1 title="@Model.PlatformName">
                            <strong title="@Model.PlatformName category mobile apps">
                                <em title="@Model.PlatformName category mobile apps">@Model.PlatformName</em>
                            </strong>
                        </h1>
                        <h2 class="app-category" title="(Latest Apps)">
                            <strong class="search-quote" title="@Model.PlatformName Categories latest apps">
                                (Latest Apps)
                            </strong>
                        </h2>
                    </a>
                </div>
            </div>
        </div>
        <div class="row no-margin @appNonExistClass">
            <div class="archive-app-collection-wrapper">
                <ul class="archive-app-collection-list category-listing-page-apps-list pagination-required regular-color seo-optimize">
                    @if (appNonExistClass == "") {
                        foreach (var app in Model.Apps) {
                            <li class="slim-app-view" data-app-type="@Model.Icon">
                                <a class="app-url" href="@app.GetAbsoluteUrl()" title="App Review : @app.AppName">
                                    <div class="app-icon">
                                        <img src="@app.SearchIconLocation" alt="app" />
                                    </div>
                                    <div class="app-content">
                                        <h1 class="app-title" title="App Review : @app.AppName">
                                            <i class="fa @Model.Icon"></i>
                                            @app.AppName
                                            <span class="paragraph-end"></span>
                                        </h1>
                                        <h3>
                                            @app.User.UserName
                                            <span class="paragraph-end"></span>
                                        </h3>
                                        <span class="rating">
                                            <i class="fa fa-star"></i>
                                            @app.AvgRating/5 from @app.ReviewsCount users
                                        </span>
                                    </div>
                                    <div class="seo-hide">
                                        <em title="@Model.PlatformName Mobiles App">@Model.PlatformName</em>
                                        <em title="@app.AppName">@app.AppName</em>
                                    </div>
                                </a>
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
        <div class="clear"></div>
        <div class="pagination-wrapper text-center">
            <ul class="pagination">
                @paginationHtml
            </ul>
        </div>
    </div>
</div>
