@model ReviewApps.Models.EntityModel.App

@{
    var hasRated = Model.CurrentUserRatedAppValue != null;
}
<div class="col-sm-8">
    <div class="rating-box-row">
        <div>
            <div class="float-left star-image start-box">@Model.AvgRating</div>
            <div class="float-left user-rating-box" itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
                <h4>Your Rating</h4>
                <div class="price rating-display">
                    @if (hasRated) {
                        <input data-readonly="true" class="rating-5-page-details" title="rating of @Model.AppName" value="@Model.CurrentUserRatedAppValue" min="0" max="5" step="1" data-size="xs">
                    } else {
                        <input id="current-app-rating-box-field" class="rating-5-page-details" title="rating of @Model.AppName" value="0" min="0" max="5" step="1" data-size="xs">
                    }
                    <meta itemprop="worstRating" content="0">
                    <meta itemprop="bestRating" content="5">
                </div>
                <div class="user">
                    <span class="number" itemprop="ratingValue">@Model.AvgRating</span> Rating from <a itemprop="ratingCount">@Model.ReviewsCount users</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="app-viewed-box col-sm-4">
    <h1 class="app-viewed-numbers">@Model.TotalViewed</h1>
    <div class="views-text">views</div>
</div>