@model IEnumerable<ReviewApps.Models.ViewModels.UploadedGalleryImageEditViewModel>
@{
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout.cshtml";
}
<div class="fade modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-btn="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>
                <h4 class="h3 modal-title">Edit Gallery Images</h4>
            </div>
            <div class="modal-body">
                <!--Must pass the data-id="0" and data-sequence="item.Sequence" to delete to work, put the attr data-btn="delete" to attach the delete event-->
                <ul class="photo-collection">
                    @foreach (var item in Model) {
                        <li data-id="0" class="delete-btn-wrapper" data-sequence="@item.Sequence">
                            <img data-id="0" data-sequence="@item.Sequence" class="dev-upload-plugin-image-@item.UploadGuid-@item.Sequence image-size-fixed-for-model" src="@item.ImageURL" alt="@item.Tile" />
                            <a data-id="0" data-btn="delete" data-sequence="@item.Sequence" class="delete-icon btn btn-danger" data-url="@item.DeleteURL"><i class="fa fa-remove"></i></a>
                        </li>
                    }
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-btn="close" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>