@using ReviewApps.Models.EntityModel.ExtenededWithCustomMethods
@model IEnumerable<ReviewApps.Models.EntityModel.App>
@{
    ViewBag.Title = "Apps List";
    string title = ViewBag.Title;
    string subtitle = ViewBag.Title;
    var controller = (string) ViewBag.controller;
    const string viewName = "Index";
}
@Html.SamePageLinkWithIcon(title, subtitle, "glyphicon glyphicon-th-list")
<div class="top-gap-2x"></div>
<p class="left-button-wrapper">
    <a href="@Url.Action("Post")" title="Create a new item." class="btn btn-warning create-save"><span class="glyphicon glyphicon-plus"></span> Create</a>
    <a href="@Url.Action("Drafts")" title="Get drafted apps." class="btn btn-info"><span class="glyphicon glyphicon-th-list"></span> Drafts</a>
</p>
<table class="bootstrap-table-do table table-hover" data-show-columns="true" data-search="true" data-pagination="true">
    <thead>
    <tr>
        <th data-field="AppName">
            @Html.DisplayNameFor(model => model.AppName)
        </th>
        <th data-field="Description">
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th data-field="Platform">
            Platform
        </th>
        <th data-field="IsPublished">
            Published
        </th>
        <th data-field="ReviewsCount">
            Reviews
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @{
                    var editLinkName = Html.DisplayFor(model => item.AppName).ToString();
                }
                <a href="@Url.Action("Edit", new {id = item.AppID})" title="@editLinkName edit...">
                    <span class="glyphicon glyphicon-pencil"></span> @editLinkName
                </a>
            </td>
            <td>
                @Html.Truncate(item.Description, AppConfig.TruncateLength)
                <span class="Hide">@item.Description</span>
            </td>
            <td>
                <label class="label label-info" title="@item.Platform.PlatformName->@item.Category.CategoryName->@item.PlatformVersion">@item.Platform.PlatformName->@item.Category.CategoryName->@item.PlatformVersion</label>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsPublished)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReviewsCount)
            </td>
            <td>
                <a href="@Url.Action("Edit", new {id = item.AppID})" title="@editLinkName edit..." class="btn btn-success btn-xs"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
                <a href="@item.GetAbsoluteUrl()" title="View App @editLinkName." class="btn btn-warning btn-xs"> View</a>
                <a href="@Url.Action("Delete", new {id = item.UploadGuid})" onclick="return confirm('Are you sure? This can\'t be undone.')" title="Revove App @editLinkName." class="btn btn-danger btn-xs">
                    <i class="fa fa-times"></i>
                    Remove
                </a>
            </td>
        </tr>
    }
    </tbody>
</table>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}