@model ReviewApps.Models.EntityModel.App
@{
    ViewBag.Title = "Post App";
    string title = ViewBag.Title;
    string subtitle = ViewBag.Title;
    var controller = (string) ViewBag.controller;
    ViewBag.token = Html.AntiForgeryToken();
    var viewName = "Post";
}
@section hidden{
    @Html.Partial("_CommonHiddenForAppEditOrPost")
}
@Html.SamePageLinkWithIcon(title, subtitle, "fa fa-plus-circle")
<hr />
<div id="app-form" data-type="post">
    @using (Html.BeginForm(viewName, controller, FormMethod.Post, new {@class = "form-horizontal app-editing-page app-post Create-" + @ViewBag.Title, role = "form"})) {
        <div class="form-horizontal">
            @Html.Partial("_SuccessMessage")
            @Html.ValidationSummary(true, "", new {@class = "text-danger"})
            @Html.Partial("_CreateOrEdit")
            @Html.Partial("_Uploaders")
            @Html.EditorFor(model => model.IsPublished, "publish")
            @Html.Partial("_SuccessMessage")
            <div class="form-group">
                <div class="col-md-10 col-md-offset-2">
                    <div class="btn-group">
                        <div class="inline input-group-btn">
                            <button class="btn btn-warning" title="Draft" id="draft-btn"><i class="glyphicon glyphicon-floppy-disk"></i> Draft</button>
                        </div>
                        <div class="inline input-group-btn">
                            <button id="submit-btn" class="btn btn-success" title="Save and create a new one."><i class="glyphicon glyphicon-floppy-saved"></i> Create</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottom-gap-2x"></div>
        </div>
    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/upload")
}