@using ReviewApps.Models.EntityModel.ExtenededWithCustomMethods
@model ReviewApps.Models.EntityModel.App
@{
    //Layout = "~/Views/Shared/_LayoutFrontEnd.cshtml";
    var appName = Model.AppName;
    var currentUrl = Html.GetCurrentUrlString(); // Apps/Apple-7/Games/plant-vs-zombies
    string appSubtitle = ViewBag.Title;
    ViewBag.Title = Model.Platform.PlatformName + " App : " + appName;
    ViewBag.Meta = appName + "," + Model.Tags + "," + Model.Description;
    ViewBag.Keywords = appName + "," + Model.Tags;

    var platformSubtitle = Model.Platform.PlatformName + " mobile apps";
    var categorySubtitle = Model.GetCategoryString() + " category mobile apps";
    var softwareUrl = AppVar.Url; //we review app
    var isWebsiteUrlExist = !string.IsNullOrEmpty(Model.WebsiteUrl);
    var isStoreUrlExist = !string.IsNullOrEmpty(Model.StoreUrl);
    var isDotRequired = isWebsiteUrlExist && isStoreUrlExist;
    //string currentAppUrlNameOnly = Model.URL; //plant-vs-zombies
    string jsControllerName = "app-controller";
    string searchForBindingEvents = "click";
    string viewName = ViewBag.view;
}

<div id="@jsControllerName" class="@jsControllerName @viewName" data-action="@viewName" data-event-binding="@searchForBindingEvents">
    @section hidden{
        @Html.ComponentsEnableFor("owl-carousel")
    }
    <div id="app-details-page" class="app-details-page">
        <div id="fb-root"></div>
        <script>
            (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s);
                js.id = id;
                js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=1481969698749084&version=v2.0";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, "script", "facebook-jssdk"));
        </script>
        <div itemscope itemtype="http://schema.org/SoftwareApplication">
            <div class="row">
                <div class="app-detail app-title-wrapper col-md-12">
                    <div class="app-title-row float-left">
                        <a href="@softwareUrl/Apps/@Model.Platform.PlatformName" class="app-platform" title="@platformSubtitle">
                            <i class="@Model.Platform.Icon" title="@platformSubtitle">
                                <em title="@platformSubtitle" class="seo-hide">@platformSubtitle</em>
                            </i>
                        </a>
                        <span class="seo-hide" itemprop="operatingSystem">@Model.Platform.PlatformName</span>
                        @Html.Partial("_AppEditButton")
                        <a href="@currentUrl" class="app-title" title="@appSubtitle">
                            <h1 title="@appSubtitle">
                                <strong title="@appSubtitle">
                                    <em itemprop="name" title="@appSubtitle">
                                        @appName
                                    </em>
                                </strong>
                            </h1>
                            <span class="paragraph-end"></span>
                        </a>
                        <a href="@softwareUrl/Apps/Category/@Model.Category.CategoryName" class="app-category" title="@categorySubtitle">
                            <h2 class="category" title="@categorySubtitle">
                                <strong title="@categorySubtitle">@Model.Category.CategoryName</strong>
                            </h2>
                        </a>
                        <span class="paragraph-end"></span>
                    </div>
                </div>
            </div>
            @ViewBag.breadcrumbs
            <div id="blog" class="blog-pages">
                <div class="b-post">
                    @Html.Partial("_Gallery")
                    <div class="row">
                        <div class="col-md-9">
                            <div class="row">
                                @Html.Partial("_RatingAndViewed")
                            </div>
                            <ul class="post-info seo-optimize">
                                <li>
                                    By
                                    <a href="@Model.User.GetProfileUrl()">
                                        <strong title="Developer @Model.User.DisplayName's app is @appName" itemscope itemtype="http://schema.org/Person">
                                            <em itemprop="name" title="@Model.User.DisplayName developer apps">
                                                @Model.User.DisplayNameTruncated(10)
                                            </em>
                                        </strong>
                                    </a>
                                    <span> . </span>
                                </li>
                                <li>
                                    <a href="@Model.GetReportingUrl()" class="report-app">
                                        <strong title="Report @appName">
                                            <em title="Report @appName">Report</em>
                                        </strong>
                                    </a>

                                </li>
                                @if (isWebsiteUrlExist) {
                                    <li> <span> . </span></li>
                                    <li>
                                        <a href="@Model.WebsiteUrl" title="Official Website for @Model.AppName">
                                            <h1 title="Official Website for @Model.AppName">
                                                <strong title="Official Website for @Model.AppName">
                                                    <em title="Official Website for @Model.AppName">Website</em>
                                                </strong>
                                            </h1>
                                        </a>
                                    </li>
                                }
                                @if (isDotRequired) {
                                    <li> <span> . </span></li>
                                }
                                @if (isStoreUrlExist) {
                                    <li>
                                        <a href="@Model.StoreUrl" title="@Model.AppName download">
                                            <h1 title="@Model.AppName download">
                                                <strong title="@Model.AppName download">
                                                    <em title="@Model.AppName download">Store</em> <em title="@Model.AppName download" class="seo-hide">@Model.AppName download</em>
                                                </strong>
                                            </h1>
                                        </a>
                                    </li>
                                }
                                <li class="share-btn white write-review-btn">
                                    <a title="Write Review for @appName" data-url="@Url.Action("GetReviewForm", "Reviews")" data-ref-id="write-review-form-container" data-click="getReviewForm">
                                        @*It will the review form and method will be found inside the controller.*@
                                        Write Review
                                    </a>
                                </li>
                                <li class="facebook share-btn">
                                    <div class="fb-like" data-href="@currentUrl" data-width="110px" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
                                </li>
                            </ul>
                            @Html.Partial("_SeoExtraPart")
                            @Html.Partial("_AppDescription")
                            <div id="write-review-form-container">
                                <!--empty container to inject the form , by clicking getReviewForm()-->
                            </div>
                            @{ Html.RenderAction("ReviewsDisplay", "Partials", new { id = Model.AppID }, true); }
                            <div id="review-request-fields">
                                <!-- request fields to get review-form -->
                                @Html.HiddenFor(n => n.AppID)
                                @Html.AntiForgeryToken()
                            </div>
                        </div>
                        <div class="col-md-3">
                            @{ Html.RenderAction("FeaturedApps", "Partials", new { appID = Model.AppID }); }
                            @{ Html.RenderAction("DevelopersApps", "Partials", new { appID = Model.AppID }); }
                            @{ Html.RenderAction("SuggestedApps", "Partials", new { appID = Model.AppID }); }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}