@using ReviewApps.Models.EntityModel.ExtenededWithCustomMethods
@using ReviewApps.Models.POCO.Identity
@{
    var user = (ApplicationUser) ViewData["user"];
    var username = user.UserName;
    var urlToFirstpage = user.GetProfileUrl();
}
<table class="top-gap-2x ">
    <tbody>
    <tr>
        <td class="bold">Name</td>
        <td class="indent-1 red">:</td>
        <td class="indent-1">
            <a title="Apps of @user.DisplayName" href="@urlToFirstpage">
                @if (user.IsRegistrationComplete) {
                    <i class="@FaIcons.CheckMarkCircleO green"></i>
                } else {
                    <i class="@FaIcons.Exclamation red"></i>
                }
                @user.DisplayName
            </a>
        </td>
    </tr>
    <tr>
        <td class="bold">
            User name
        </td>
        <td class="indent-1 red">:</td>
        <td class="indent-1"> @username</td>
    </tr>
    <tr>
        <td class="bold">Email</td>
        <td class="indent-1 red">:</td>
        <td class="indent-1"> @user.Email.Replace("@", " {at} ")</td>
    </tr>
    <tr>
        <td class="bold">Member since</td>
        <td class="indent-1 red">:</td>
        <td class="indent-1"> @Html.DisplayDate(true, user.CreatedDate)</td>
    </tr>
    <tr>
        <td class="bold">Profile Url</td>
        <td class="indent-1 red">:</td>
        <td class="indent-1">
            <a href="@urlToFirstpage">@urlToFirstpage</a>
        </td>
    </tr>
    <tr>
        <td class="bold">Reviews</td>
        <td class="indent-1 red">:</td>
        <td class="indent-1">
            <a href="@urlToFirstpage">@urlToFirstpage</a>
        </td>
    </tr>
    </tbody>
</table>