@using ReviewApps.Models.EntityModel.ExtenededWithCustomMethods
@model List<ReviewApps.Models.POCO.Identity.ApplicationUser>
@Html.SamePageLinkWithIcon("Developers Profile", "Developers Profile", "fa fa-user")
@ViewBag.breadcrumbs
<div class="app-date-seperation row seo-optimize">
    <div class="col-md-10"></div>
    <div class="col-md-2  text-right">
        <a>
            <h1 class="bold-important month-seperation regular-color"></h1>
        </a>
    </div>
</div>
<div class="row">
    <div class="archive-app-collection-wrapper">
        <ul class="archive-app-collection-list pagination-required regular-color search-page-apps-list seo-optimize">
            @foreach (var user in Model) {
                <li class="slim-app-view">
                    <a class="app-url" href="@user.GetProfileUrl()" title="user apps:  @user.FirstName @user.LastName">
                        <i class="@FaIcons.User f-em-13 left"></i>
                        <div class="app-content right">
                            <h1 class="app-title" title="user apps:  @user.FirstName @user.LastName">
                                <strong class="bold-important">@user.FirstName @user.LastName</strong>
                                <span class="paragraph-end"></span>
                            </h1>
                            <h3 title="user name: @user.UserName">
                                @user.UserName
                                <span class="paragraph-end"></span>
                            </h3>
                        </div>

                    </a>
                </li>
            }
        </ul>
        <div class="clear"></div>
        <div class="pagination-wrapper text-center">
            <ul class="pagination">
                @ViewBag.paginationHtml
            </ul>
        </div>
    </div>

</div>