@using ReviewApps.Models.EntityModel
@using ReviewApps.Models.EntityModel.ExtenededWithCustomMethods
@model ReviewApps.Models.POCO.Identity.ApplicationUser
@{
    var username = Model.UserName;
    var apps = (List<App>) ViewBag.Apps;
    var urlToFirstpage = Model.GetProfileUrl();
}
<a title="Apps of @Model.DisplayName" href="@urlToFirstpage">
    <h2 class="h2" title="profile of @username">@Model.DisplayName</h2>
</a>
@Html.Partial("_UserProfileDetails", new ViewDataDictionary {
    {"user", Model}
})
@ViewBag.breadcrumbs
<div class="app-date-seperation row seo-optimize">
    <div class="col-md-10"></div>
    <div class="col-md-2  text-right">
        <a>
            <h1 class="bold-important month-seperation regular-color"></h1>
        </a>
    </div>
</div>
<div class="row">
    <div class="archive-app-collection-wrapper">
        <ul class="archive-app-collection-list pagination-required regular-color search-page-apps-list seo-optimize">
            @foreach (var app in apps) {
                var platform = app.GetPlatform();
                <li class="slim-app-view" data-app-type="@platform.Icon">
                    <a class="app-url" href="@app.GetAbsoluteUrl()" title="App Review : @app.AppName">
                        <div class="app-icon">
                            <img src="@app.SearchIconLocation" alt="app" />
                        </div>
                        <div class="app-content">
                            <h1 class="app-title" title="App Review : @app.AppName">
                                <i class="fa @platform.Icon"></i>
                                @app.AppName
                                <span class="paragraph-end"></span>
                            </h1>
                            <h3>
                                @app.User.UserName
                                <span class="paragraph-end"></span>
                            </h3>
                            <span class="rating">
                                <i class="fa fa-star"></i>
                                @app.AvgRating/5 from @app.ReviewsCount users
                            </span>
                        </div>
                        <div class="seo-hide">
                            <em title="@platform.PlatformName Mobiles App">@platform.PlatformName</em>
                            <em title="@app.AppName">@app.AppName</em>
                        </div>
                    </a>
                </li>
            }
        </ul>
        <div class="clear"></div>
        <div class="pagination-wrapper text-center">
            <ul class="pagination">
                @ViewBag.paginationHtml
            </ul>
        </div>
    </div>
</div>