@using ReviewApps.Models.EntityModel
@using ReviewApps.Models.EntityModel.ExtenededWithCustomMethods
@{
    string title = ViewBag.title;
    var apps = (List<App>) ViewBag.Apps;
}
@Html.SamePageLinkWithIcon(title, title, "fa fa-mobile")
@ViewBag.breadcrumbs
<div class="app-date-seperation row seo-optimize">
    <div class="col-md-10"></div>
    <div class="col-md-2  text-right">
        <a>
            <h1 class="bold-important month-seperation regular-color"></h1>
        </a>
    </div>
</div>
<div class="row">
    <div class="archive-app-collection-wrapper">
        <ul class="archive-app-collection-list pagination-required regular-color search-page-apps-list seo-optimize">
            @foreach (var app in apps) {
                var platform = app.GetPlatform();
                <li class="slim-app-view" data-app-type="@platform.Icon" itemscope itemtype="http://schema.org/SoftwareApplication">
                    <a class="app-url" href="@app.GetAbsoluteUrl()" title="App Review : @app.AppName">
                        <span itemprop="operatingSystem" class="hide">@platform.PlatformName - @app.PlatformVersion</span>
                        <div class="app-icon">
                            <img itemscope src="@app.SearchIconLocation" alt="@app.AppName" />
                        </div>
                        <div class="app-content">
                            <h1 class="app-title" title="App Review : @app.AppName">
                                <i class="fa @platform.Icon"></i>
                                <strong itemprop="name">@app.AppName</strong>
                                <span class="paragraph-end"></span>
                            </h1>
                            <h3>
                                @app.User.UserName
                                <span class="paragraph-end"></span>
                            </h3>
                            <span class="rating">
                                <i class="fa fa-star"></i>
                                @app.AvgRating/5 from @app.ReviewsCount users
                            </span>
                            <div itemprop="aggregateRating" class="hide" itemscope itemtype="http://schema.org/AggregateRating">
                                <span itemprop="ratingValue">@app.AvgRating</span>
                                <span itemprop="ratingCount">@app.ReviewsCount</span>
                                <span itemprop="bestRating" class="hide">5</span>
                                <meta itemprop="worstRating" content="0">
                            </div>
                        </div>
                        <div class="seo-hide">
                            <em title="@platform.PlatformName Mobiles App">@platform.PlatformName</em>
                            <em title="@app.AppName">@app.AppName</em>
                        </div>
                    </a>
                </li>
            }
        </ul>
        @if (ViewBag.paginationHtml != null) {
            <div class="clear"></div>
            <div class="pagination-wrapper text-center">
                <ul class="pagination">
                    @ViewBag.paginationHtml
                </ul>
            </div>
        }
    </div>

</div>