@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    HttpContext.Current.Response.StatusCode = 414;
    if (ViewBag.Reason == null) {
        ViewBag.Reason = "URL is too long.";
    }
    ViewBag.Title = "414 : Requested URL or URI is too long";
}
<div class="custom-error-page">
    <h1 class="error-page-title-version-2 h1 text-danger top-margin-space">
        @ViewBag.Title
    </h1>
    <div class="top-gap-2x">
        <div class="row">
            <div class="col-md-4">
                <img src="~/images/error-icon-bucket.png" alt="app not found" />
            </div>
            <div class="col-md-8">
                <p class="error-content">
                    Sorry for the inconvenience , your given address or URL or URI is
                    <strong class="bold red">too long</strong>.
                    Please try again from home page or list of apps.
                    For further information , please be in touch with admin.
                </p>
                <div class="home-page-url">
                    Please visit <a href="@AppVar.Url" title="App Review Website">home page</a> after few minuties later by clicking on this link <a href="@AppVar.Url" title="App Review Website">@AppVar.Url</a>
                </div>
                <div class="contactus">Please feel free to @Html.ContactFormActionLink("contact us", "Contact Us - " + @AppVar.Name).</div>
            </div>
        </div>
    </div>
</div>