<footer class="footer-link-fix">
    <div class="container-fluid">
        <div class="header row seo-optimize">
            <div class="bg-primary col-md-1 story-header">
                <h1 title="App Reviews website">
                    <strong title="WeReviewApp.com : App Reviews website">
                        <em title="WeReviewApp.com : App Reviews website">
                            Story
                        </em>
                    </strong>
                </h1>
            </div>
            <div class="col-md-11 seo-optimize social-icons-wrapper">
                <strong class="follow-us-header" title="Follow @AppVar.Name">Follow us:</strong>
                <a href="#">
                    <i class="fa fa-facebook-square" title="@AppVar.Name facebook page"></i>
                    <h1 title="@AppVar.Name facebook page" class="seo-hide">@AppVar.Name facebook page</h1>
                </a>
                <a href="#">
                    <i class="fa fa-twitter-square" title="@AppVar.Name twitter page"></i>
                    <h1 title="@AppVar.Name twitter page" class="seo-hide">@AppVar.Name twitter page</h1>
                </a>
                <a href="#">
                    <i class="fa fa-google-plus-square" title="@AppVar.Name google plus"></i>
                    <h1 title="@AppVar.Name google plus" class="seo-hide">@AppVar.Name google plus</h1>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="about-us-wrapper">
                <div class="col-md-3">
                    <div class="logo-wrapper">
                        <a class="logo" href="#.">
                            <h1 title="wereviewapp.com : App Reviews website" class="website-head-title wereviewapp.com">
                                <span class="almost-black" title="wereviewapp.com">we</span><span class="red" title="wereviewapp.com">review</span><span class="orange-color" title="wereviewapp.com">app.com</span>
                            </h1>
                        </a>
                    </div>
                </div>
                <div class="app-details-page blog-page-private col-md-9">
                    <article class="about-company blog-content justify seo-optimize">
                        <section class="bottom-gap justify white-wrapper-background">
                            <a href="@AppVar.Url" class="seo-app-name" title="WeReviewApp.com : App Reviews website.">
                                <h1 title="WeReviewApp.com : App Reviews website.">
                                    <strong title="WeReviewApp.com : App Reviews website.">
                                        <em title="WeReviewApp.com : App Reviews website.">We</em>
                                    </strong><strong title="WeReviewApp.com : App Reviews website.">
                                        <em title="WeReviewApp.com : App Reviews website.">Review</em>
                                    </strong><strong title="WeReviewApp.com : App Reviews website.">
                                        <em title="WeReviewApp.com : App Reviews website.">App</em>
                                    </strong><strong title="WeReviewApp.com : App Reviews website.">
                                        <em title="WeReviewApp.com : App Reviews website.">.com</em>
                                    </strong>
                                </h1>
                            </a>
                            is great
                            <a href="@AppVar.Url" class="seo-app-name" title="WeReviewApp.com : App Reviews website.">
                                <h1 title="WeReviewApp.com : App Reviews website.">
                                    <strong title="WeReviewApp.com : App Reviews website.">
                                        <em title="WeReviewApp.com : App Reviews website.">web</em>
                                    </strong><strong title="WeReviewApp.com : App Reviews website.">
                                        <em title="WeReviewApp.com : App Reviews website.">site</em>
                                    </strong>
                                </h1>
                            </a> for both developers and users who use
                            <a href="@AppVar.Url" class="seo-app-name" title="mobile Apps users">
                                <h1 title="mobile Apps users">
                                    <strong title="mobile Apps users">
                                        <em title="mobile Apps users">mobile</em>
                                    </strong>
                                    <strong title="mobile Apps users">
                                        <em title="mobile Apps users">apps</em>
                                    </strong>
                                    <strong title="mobile Apps users">
                                        <em title="mobile Apps users">users</em>
                                    </strong>
                                </h1>
                            </a>.
                            <a href="@AppVar.Url" class="seo-app-name" title="WeReviewApp.com : App Reviews website.">
                                <h1 title="WeReviewApp.com : App Reviews website.">
                                    <strong title="WeReviewApp.com : App Reviews website.">
                                        <em title="WeReviewApp.com : App Reviews website.">We</em>
                                    </strong><strong title="WeReviewApp.com : App Reviews website.">
                                        <em title="WeReviewApp.com : App Reviews website.">Review</em>
                                    </strong><strong title="WeReviewApp.com : App Reviews website.">
                                        <em title="WeReviewApp.com : App Reviews website.">App</em>
                                    </strong><strong title="WeReviewApp.com : App Reviews website.">
                                        <em title="WeReviewApp.com : App Reviews website.">.com's</em>
                                    </strong>
                                </h1>
                            </a> foremost goal is to bring
                            <a href="@AppVar.Url" class="seo-app-name" title="mobile Apps users">
                                <h1 title="mobile Apps users">
                                    <strong title="mobile Apps users">
                                        <em title="mobile Apps users">mobile</em>
                                    </strong>
                                    <strong title="mobile Apps users">
                                        <em title="mobile Apps users">apps</em>
                                    </strong>
                                    <strong title="mobile Apps users">
                                        <em title="mobile Apps users">users</em>
                                    </strong>
                                </h1>
                            </a>
                            and
                            <a href="@AppVar.Url" class="seo-app-name" title="mobile apps developers">
                                <h1 title="mobile apps developers">
                                    <strong title="mobile Apps users">
                                        <em title="mobile Apps users">mobile</em>
                                    </strong>
                                    <strong title="mobile Apps users">
                                        <em title="mobile Apps users">apps</em>
                                    </strong>
                                    <strong title="mobile Apps users">
                                        <em title="mobile Apps users">developers</em>
                                    </strong>
                                </h1>
                            </a>
                            to be in a same platform and get benifited from each other. Over the years it has been observed that <strong title="mobile app users">mobile users</strong> only use their app store to get <strong title="app review">review</strong>, however there could be more that than <strong title="app review">app review</strong> or comments.
                            <span class="show-more-btns-container">
                                <span class="elipse-dot">...</span>
                                <a class="primary-color see-more-btn" href="@AppVar.Url/About">see more</a>
                            </span>
                        </section>
                    </article>
                </div>
            </div>
        </div>
        <div class="rights row">
            <div class="col-md-6">
                <ul class="navigation-bottom">
                    <li>
                        <a href="@AppVar.Url" title="App review website"> Home</a>
                    </li>
                    <li>
                        <a href="@AppVar.Url/apps" title="Apps reviews archieve"> Apps </a>
                    </li>
                    <li>
                        <a href="@AppVar.Url/profiles" title="Developers uploaded apps"> Developers </a>
                    </li>
                    <li>
                        <a href="@AppVar.Url/category" title="Mobile Apps Categories"> <em class="seo-hide">Mobile Apps Categories</em> Category </a>
                    </li>
                    <li>
                        <a href="@AppVar.Url/sitemap" title="Sitemap xml file"> Sitemap </a>
                    </li>
                    <li>
                        <a href="@AppVar.Url/search" title="Search for apps in App Reivew site"> Search </a>
                    </li>
                    <li>
                        <a href="@AppVar.Url/contactus"> Contact</a>
                    </li>
                    <li>
                        <a href="@AppVar.Url/about"> About Us</a>
                    </li>
                </ul>
            </div>

            <div class="col-md-6 copyright text-right">
                &copy; @DateTime.Now.Year
                <a href="@AppVar.Url" class="seo-app-name seo-optimize" title="WeReviewApp.com : App Reviews website.">
                    <h1 title="WeReviewApp.com : : App Reviews website.">
                        <strong title="WeReviewApp.com : App Reviews website.">
                            <em title="WeReviewApp.com : App Reviews website.">We</em>
                        </strong><strong title="WeReviewApp.com : App Reviews website.">
                            <em title="WeReviewApp.com : App Reviews website.">Review</em>
                        </strong><strong title="WeReviewApp.com : App Reviews website.">
                            <em title="WeReviewApp.com : App Reviews website.">App</em>
                        </strong><strong title="WeReviewApp.com : App Reviews website.">
                            <em title="WeReviewApp.com : App Reviews website.">.com</em>
                        </strong>
                    </h1>
                </a>
                <div class="developers-organism seo-hide seo-optimize">
                    - Developed by <a href="http://developers-organism.com" title="Developers Organism">
                        <h1 title="Developers Organism">Developers Organism</h1>
                    </a>
                </div>
            </div>
        </div>
    </div>

</footer>