<div class="page-header">
    <div class="icon-wrapper">
        <i class="@ViewBag.headerIcon"></i>
    </div>
    <h1 title="@ViewBag.Title">
        <a href="@Html.GetCurrentUrlString()" title="@ViewBag.Title">@ViewBag.Title</a> <small>@ViewBag.Subtitle</small>
    </h1>
</div>