@using Microsoft.AspNet.Identity
@{
    var username = User.Identity.GetUserName();
    string url = AppVar.Url;
}
@if (Request.IsAuthenticated && User.IsRegistrationComplete()) {
    <li>
        <a title="Manage '@username' account" class="nav-username">
            <i class="@FaIcons.User"></i>
            @username!
        </a>
        <ul class="animated dropdown fadeIn">
            <li>
                <a href="@url/Account/Manage" title="Manage your account">
                    <i class="@FaIcons.Cog"></i>
                    Manage
                </a>
            </li>
            <li>
                <a href="@url/Profiles/@username" title="Public profile  of @username">Public Profile</a>
            </li>
            @Html.GetMenu("AppPost")
            <li title="Sign out">
                @using (Html.BeginForm("SignOut", "Account", new {area = ""}, FormMethod.Post, new {@id = "logoutForm"})) {
                    @Html.AntiForgeryToken()
                    <a href="javascript:document.getElementById('logoutForm').submit()">Sign out</a>
                }
            </li>
        </ul>
    </li>
} else if (Request.IsAuthenticated && !User.IsRegistrationComplete()) {
    <li>
        <a href="@url/Account/ResendConfirmationMail" title="Resend confirmation" class="nav-username">
            <i class="@FaIcons.Send"></i>
            Resend Validation
        </a>
    </li>
} else {
    <li title="Login in WeReviewApp.com">
        <a title="Login in WeReviewApp.com">
            <h1 title="Login in WeReviewApp.com">
                <i class="@FaIcons.Login"></i>
                <strong title="Login in WeReviewApp.com">
                    <em title="Login in WeReviewApp.com">
                        Login
                    </em>
                </strong>
            </h1>
        </a>
        <ul class="animated dropdown fadeIn">
            <li>
                <a href="@url/Login" title="Login in WeReviewApp.com">
                    <h1 title="Login in WeReviewApp.com">
                        <i class="@FaIcons.Login"></i>
                        <strong title="Login in WeReviewApp.com">
                            <em title="Login in WeReviewApp.com">
                                Login
                            </em>
                        </strong>
                    </h1>
                </a>
            </li>
            <li>
                <a href="@url/Register" title="Register in WeReviewApp.com">
                    <h1 title="Register in WeReviewApp.com">
                        <i class="@FaIcons.Register"></i>
                        <strong title="Register in WeReviewApp.com">
                            <em title="Register in WeReviewApp.com">
                                Register
                            </em>
                        </strong>
                    </h1>
                </a>
            </li>
        </ul>
    </li>
}