@{
    bool isAnyExist = ViewBag.Success != null || ViewBag.ErrorSave != null;
    int hideTime = ViewBag.TransactionAnimationTimeOut ?? 5100;
}
@if (isAnyExist) {
    <div id="transaction-container" data-hide-duration="@hideTime">
        <div data-wow-duration=".3s" class="bounceIn wow">
            <div data-wow-duration=".5s" class="fadeIn wow">
                <div data-wow-duration=".5s" data-wow-delay="4.5s" class="fadeOutleft wow">
                    <div @*data-wow-duration=".3s" data-wow-delay="4.3s" class="wow bounceOutLeft"*@>
                        <div class="row transaction-status">
                            <div class="col-md-10 col-md-offset-2">
                                @if (ViewBag.Success != null) {
                                    <h3 class="h4">
                                        <span class="label label-success">
                                            <span class="@FaIcons.CheckMark"></span> @ViewBag.Success
                                        </span>
                                    </h3>
                                } else if (ViewBag.ErrorSave != null) {
                                    <div data-wow-duration=".5s" data-wow-iteration="2" data-wow-delay=".7s" class="pulse wow">
                                        <h3 class="h4">
                                            <span class="label label-danger">
                                                <span class="@FaIcons.Times"></span> @ViewBag.ErrorSave
                                            </span>
                                        </h3>
                                    </div>
                                    <div class="error-warning-label-1 error-warning-labels">Feel free to @Html.ContactFormActionLink("contact us", "contact us") any moment.</div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}