@model ReviewApps.Models.ViewModels.ManageRolesViewModel

@{
    ViewBag.Title = "Manage Roles for '" + Html.DisplayFor(model => model.UserDisplayName) + "'";
    string title = ViewBag.Title;
    string subtitle = ViewBag.Title;
    var token = Html.AntiForgeryToken();
    var controller = (string) ViewBag.controller;
    var viewName = "ManageRoles";
}


@Html.SamePageLinkWithIcon(title, subtitle, "fa fa-cogs")

<hr />
<div class="gap-from-top left-button-stacks">
    <a href="@Url.Action("Index")" title="Back" class="btn btn-info dev-btn-back"><span class="glyphicon glyphicon-chevron-left"></span> Back</a>
    <a href="@Url.Action("Details", new {id = Model.UserId})" title="Details of @Model.UserDisplayName." class="btn btn-success"><span class="glyphicon glyphicon-print"></span> User Details</a>
</div>
@using (Html.BeginForm(viewName, controller, FormMethod.Post, new {@class = "form-horizontal Create-@ViewBag.Title", role = "form"})) {
    <div class="form-horizontal">
        @token
        <table class="bootstrap-table-do table table-hover" data-search="true">
            <thead>
            <tr>
                <th data-field="role">Roles</th>
                <th></th>
                <th>Associated</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var role in Model.AllRoles) {
                <tr>
                    <td class="all-roles-list-item">
                        @Html.ActionLink(role.Name, "Edit", new {Controller = "Roles", id = role.Id, title = "Edit"})
                    </td>
                    <td>:</td>
                    <td class="associated-role">
                        @if (Model.IsCurrentRoleRelatedToUser(role)) {
                            <!-- give a cross, exist role-->
                            <a href="@Url.Action("RemoveRole", new {roleId = role.Id, userId = Model.UserId})" title="Remove role from this user. Current user does have this role capabilities." class="btn btn-danger">
                                <span class="glyphicon glyphicon-remove"></span></a>
                        } else {
                            <a href="@Url.Action("AddRole", new {roleId = role.Id, userId = Model.UserId})" title="Add role to this user. Current user doesn't have this role capabilities.'" class="btn btn-success">
                                <span class="glyphicon glyphicon-ok"></span></a>
                        }
                    </td>
                </tr>
            }
            </tbody>
        </table>

    </div>
}

@Html.Partial("_ValidatorCommonForm", new ViewDataDictionary {
    {"token", token}
})
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}