@model IEnumerable<ReviewApps.Models.ViewModels.DisplayGalleryImages>

@{
    var isFirst = true;
    Layout = null;
}

<div data-ride="carousel" class="carousel slide" id="carousel-example-captions">

    <div class="carousel-inner">
        @foreach (var image in Model) {
            var classActive = isFirst ? "active" : null;
            <div class="item @classActive">
                <h1 class="h4" title="@image.Title">@image.Title</h1>
                <img src="@image.GalleryImageLocation" alt="@image.Title" class="img-responsive">

            </div>
            {
                isFirst = false;
            }
        }


    </div>

</div>