@using ReviewApps.Models.EntityModel.ExtenededWithCustomMethods
@model List<ReviewApps.Models.EntityModel.App>

@{
    Layout = null;
    var length = Model != null ? Model.Count : 0;
}

<div id="tp-slider" class="slider-bg-static">
    <div class="tp-banner-container">
        <div class="gallery-home tp-banner">
            <ul itemprop="itemListElement" itemscope itemtype="http://schema.org/Book">
                <!-- SLIDE 1 -->
                <!-- LAYER NR. 1 -->
                @if (Model != null) {
                    foreach (var app in Model) {
                        var appName = @app.AppName;
                        var absUrl = @app.GetAbsoluteUrl();
                        var category = @app.GetCategoryString();
                        var platform = @app.GetPlatformString();
                        var platformO = @app.GetPlatform();

                        <li data-transition="fadetobottomfadefromtop" data-slotamount="7" data-masterspeed="2500">
                            <!-- MAIN IMAGE -->
                            <img src="/images/slider-background-image.jpg" alt="background" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                            <!-- LAYERS -->
                            <!-- LAYER NR. 1 -->
                            <a href="@absUrl" title="@appName">
                                <!-- LAYER NR. 2 -->
                                <div class="customin customout tp-caption"
                                     data-x="462.916667"
                                     data-y="top"
                                     data-customin="x:50;y:150;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.5;scaleY:0.5;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 50%;"
                                     data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                     data-speed="800"
                                     data-start="700"
                                     data-easing="Power4.easeOut"
                                     data-endspeed="500"
                                     data-endeasing="Power4.easeIn"
                                     style="z-index: 3">
                                    <img itemprop="image" src="@app.HomeFeaturedBigImageLocation" alt="Mobile App : @appName">
                                </div>
                                <!-- LAYER NR. 3 -->
                                <div class="app-title customout large_bold_grey skewfromrightshort tp-caption"
                                     data-x="68.752749"
                                     data-y="7.895833"
                                     data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                     data-speed="500"
                                     data-start="800"
                                     data-easing="Back.easeOut"
                                     data-endspeed="500"
                                     data-endeasing="Power4.easeIn"
                                     data-captionhidden="on"
                                     style="z-index: 4">
                                    <h1 class="inline" itemprop="name">
                                        <strong title="@appName" class="font-normal">@Html.Truncate(@appName, 25)</strong>
                                    </h1> <span class="app-category inline">@category</span>
                                </div>
                                <!-- LAYER NR. 7 -->
                                <div class="app-description customin customout small_thin_grey tp-caption"
                                     data-x="36.333333"
                                     data-y="105"
                                     data-customin="x:0;y:100;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:3;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:0% 0%;"
                                     data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                     data-speed="500"
                                     data-start="1300"
                                     data-easing="Power4.easeOut"
                                     data-endspeed="500"
                                     data-endeasing="Power4.easeIn"
                                     data-captionhidden="on"
                                     style="z-index: 8">
                                    @Html.Truncate(app.Description, 100)
                                </div>
                                <!-- LAYER NR. 9 -->
                                <div class="customout platform-icon skewfromleftshort tp-caption"
                                     data-x="38.87"
                                     data-y="10.588542"
                                     data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                     data-speed="500"
                                     data-start="1600"
                                     data-easing="Back.easeOut"
                                     data-endspeed="500"
                                     data-endeasing="Power4.easeIn"
                                     data-captionhidden="on"
                                     style="z-index: 10">
                                    <i class="@platformO.Icon"></i>
                                </div>
                                <!-- LAYER NR. 14 -->
                                <div class="customout medium_bold_orange rating-value-display skewfromleftshort tp-caption"
                                     data-x="148.10111"
                                     data-y="57.347557"
                                     data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                     data-speed="500"
                                     data-start="2250"
                                     data-easing="Back.easeOut"
                                     data-endspeed="500"
                                     data-endeasing="Power4.easeIn"
                                     data-captionhidden="on"
                                     style="z-index: 15">
                                    @app.AvgRating<span style="font-weight: 300;">/5 Stars</span>
                                    <div class="seo-hide seo-rating" itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
                                        <span itemprop="ratingValue">@app.AvgRating</span> stars based on
                                        <span itemprop="bestRating" class="hide">5</span>
                                        <span itemprop="reviewCount">@app.ReviewsCount</span> reviews
                                    </div>
                                </div>


                                <!-- LAYER NR. 19 -->
                                <div class="customin customout tp-caption"
                                     data-x="36.434444"
                                     data-y="58.770833"
                                     data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:5;scaleY:5;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                     data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                     data-speed="1000"
                                     data-start="2000"
                                     data-easing="Power4.easeOut"
                                     data-endspeed="500"
                                     data-endeasing="Power4.easeIn"
                                     data-captionhidden="on"
                                     style="z-index: 20">
                                    <input class="rating-5-front" value="@app.AvgRating" min="0" max="5" step="0.5" data-readonly="true" data-size="xs">
                                </div>
                            </a>

                        </li>
                    }
                }
            </ul>
            <div class="tp-bannertimer tp-bottom"></div>
        </div>
    </div>
</div>