@using ReviewApps.Models.EntityModel.ExtenededWithCustomMethods
@model IEnumerable<ReviewApps.Models.EntityModel.App>

@{
    Layout = null;
    var moreLink = @Url.Action("Index", "Apps");
}
@if (Model != null) {
    <div class="apps-list-header-row">
        <a class="title" href="@moreLink" title="Latest mobiles apps review of @AppVar.Name">
            <h1 title="Latest mobiles apps review of @AppVar.Name" class="float-left">
                <strong title="Latest mobiles apps review of @AppVar.Name">Latest Apps</strong>
            </h1>
        </a>
        <a class="btn btn-more btn-primary float-right" href="@moreLink">
            More
        </a>
        <div class="clear"></div>
    </div>
    <div class="owl-carousel owl-list owl-theme">
        @foreach (var app in Model) {
            var appName = @app.AppName;
            var absUrl = @app.GetAbsoluteUrl();
            var category = @app.GetCategoryString();
            var platformIcon = @app.Platform.Icon;
            var subtitleOfApp = @app.GetPlatformString() + " mobile app : " + @appName + " (" + @category + ")";
            var postedUserName = @app.User.UserName;
            <a class="app-box" itemtype="@absUrl" href="@absUrl" title="@appName" itemscope itemtype="http://schema.org/SoftwareApplication">
                <img class="app-icon" itemprop="image" src="@app.HomePageIconLocation" alt="@subtitleOfApp" />
                <div class="app-description-wrapper" title="@subtitleOfApp">
                    <div class="app-title-container" title="@subtitleOfApp">
                        <div class="app-title-row" title="@subtitleOfApp">
                            <h1 class="app-title ubuntu-font" title="@subtitleOfApp">
                                <i class="@platformIcon"></i>
                                <strong title="@subtitleOfApp">
                                    <em title="@appName" itemprop="name">
                                        @appName
                                    </em>
                                </strong>
                            </h1>
                            <span class="paragraph-end"></span>
                        </div>
                        <div class="published-by" itemprop="author" itemscope itemtype="http://schema.org/Person">
                            <span itemprop="name">@postedUserName</span>
                            <span class="paragraph-end"></span>
                        </div>
                        <div title="rating of @appName" class="seo-hide seo-rating" itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
                            <span itemprop="ratingValue">@app.AvgRating</span> stars based on
                            <span itemprop="bestRating" class="hide">5</span>
                            <span itemprop="reviewCount">@app.ReviewsCount</span> reviews
                            <meta itemprop="worstRating" content="0">
                        </div>
                        <input title="rating of @appName" class="rating-5-front" value="@app.AvgRating" min="0" max="5" step="0.5" data-readonly="true" data-size="xs">
                    </div>
                </div>
            </a>
        }
    </div>
}