@{
    var appUrl = AppVar.Url;
}
<div class="header-2">
    <header class="sticky">
        <div class="container">
            <a class="logo" href="@appUrl" title="@appUrl : App Review websie">
                <h1 title="@appUrl" class="website-head-title @appUrl">
                    <strong class="almost-black" title="App Review websie">we</strong><strong class="red" title="App Review websie">review</strong><strong class="orange-color" title="App Review websie">app.com</strong>
                </h1>
            </a>
            <nav>
                <ul class="jetmenu menu seo-optimize">
                    <li>
                        <a href="#">
                            <i class="fa fa-cog"></i>
                            Core <b class="caret"></b>
                        </a>
                        <ul class="animated dropdown fadeIn">
                            @Html.GetMenu("Admin")
                        </ul>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-cogs"></i>
                            Additional Settings <b class="caret"></b>
                        </a>
                        <ul class="animated dropdown fadeIn">
                            @Html.GetMenu("ViewWereApp")
                        </ul>
                    </li>
                    @Html.Partial("_LoginPartial")
                </ul>
            </nav>
        </div>
    </header>
</div>