@using Microsoft.AspNet.Identity
@model ReviewApps.Models.ViewModels.ManageUserViewModel

<p>
    You're logged in as <strong>@User.Identity.GetUserName()</strong>.
</p>

@using (Html.BeginForm("Manage", "Account", FormMethod.Post, new {@class = "form-horizontal", role = "form"})) {
    @Html.AntiForgeryToken()
    <h4>Change Password Form</h4>
    <hr />
    @Html.ValidationSummary("", new {@class = "text-danger"})
    @Html.EditorFor(m => m.OldPassword)
    @Html.EditorFor(m => m.NewPassword)
    @Html.EditorFor(m => m.ConfirmPassword)
    <div class="form-group">
        <div class="col-md-10 col-md-offset-2">
            <input type="submit" value="Change password" class="btn btn-default" />
        </div>
    </div>
}