@model ReviewApps.Models.ViewModels.RegisterViewModel
@{
    string title = "Register with @" + ViewBag.LoginProvider + " account";
    ViewBag.Title = title;
}
@Html.HeaderWithIcon(title, title, FaIcons.UserPlus)
<hr />
@using (Html.BeginForm("ExternalLoginConfirmation", "Account", new {ViewBag.ReturnUrl}, FormMethod.Post, new {@class = "form-horizontal", role = "form"})) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new {@class = "text-danger"})
    <label class="label label-success">
        You've successfully authenticated with <strong>@ViewBag.LoginProvider</strong>.
        Now please fill the below fields to get registered.
    </label>
    @Html.EditorFor(n => n.UserName, "UserName")
    @Html.EditorFor(n => n.Phone, "Phone")
    @Html.EditorFor(n => n.FirstName)
    @Html.EditorFor(n => n.LastName)
    @Html.EditorFor(n => n.Email, "Email")
    @Html.HiddenFor(n => n.AccessToken)
    @Html.HiddenFor(n => n.Password)
    @Html.HiddenFor(n => n.ConfirmPassword)
    <div class="form-group">
        <div class="col-md-10 col-md-offset-2">
            <button type="submit" class="btn btn-success">
                <i class="fa fa-facebook"></i>
                Register
            </button>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}