@model ReviewApps.Models.ViewModels.ForgotPasswordViewModel
@{
    string title = "Forgot your password?";
    ViewBag.Title = title;
}
<div class="green">
    @Html.HeaderWithIcon(title, title, FaIcons.Questions)
</div>
<hr />
@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new {@class = "form-horizontal", role = "form"})) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new {@class = "text-danger"})
    @Html.EditorFor(m => m.Email, "AnyTypeIconWithHtml", new {labelColumn = "col-md-1", textColumn = "col-md-11", @class = "form-control", displayHtml = Html.SubmitButton("Reset", FaIcons.EmailO)})
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}