@using ReviewApps.Models.ViewModels
@model LoginViewModel
@{
    var title = "Log in";
    ViewBag.Title = title;
}
@Html.SamePageLinkWithIcon(title, title, "fa fa-sign-in")
<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" })) {
                @Html.AntiForgeryToken()
                <div class="row margin-r-0 margin-l-0">
                    <div class="pull-left">
                        Use your personal credentials to login.
                        If you don't have any account please
                    </div>
                    <div class="pull-right">
                        @Html.ActionLinkWithIcon("sign up", "Register", null, null, "", "fa fa-user-plus", "btn btn-success")
                    </div>
                </div>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.EditorFor(m => m.Email, new { @class = "form-control" })
                @Html.EditorFor(m => m.Password, new { @class = "form-control" })
                <div class="form-group">
                    <div class="col-md-10 col-md-offset-2">
                        <div class="login-btn-wrapper">
                            <div class="checkbox">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)
                            </div>
                            @Html.SubmitButton("Signin", "fa fa-sign-in", "Signin to " + AppVar.Name)
                        </div>
                    </div>
                </div>
            }
            <ul class="col-md-10 col-md-offset-2 ">
                <li class="form-group">
                    <div class="center-block">
                        <div class="control-label">Are you having troubles with login? @Html.ActionLinkWithIcon("Forgot", "ForgotPassword", null, null, "Forget password?", "", "label label-warning sm-0-95-font")</div>
                    </div>
                </li>
            </ul>
        </section>

    </div>
    <div class="col-md-4">
        <section id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { Action = "ExternalLogin", ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}