@model ReviewApps.Models.ViewModels.ResetPasswordViewModel
@{
    string title = "Reset password";
    ViewBag.Title = title;
}
@Html.HeaderWithIcon(title, title, FaIcons.Refresh)
<hr />
@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new {@class = "form-horizontal", role = "form"})) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new {@class = "text-danger"})
    @Html.HiddenFor(model => model.Code)
    @Html.EditorFor(m => m.Email, "Email")
    @Html.EditorFor(m => m.Password, "Password")
    @Html.EditorFor(m => m.ConfirmPassword, "Password")
    <div class="form-group">
        <div class="col-md-10 col-md-offset-2">
            @Html.SubmitButton("Reset Password", iconClass: FaIcons.CheckMark)
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}